<!DOCTYPE html>
  <html ng-app="benchmark">
    <head>
	    <title>Performance Test</title>
	    <script src="bower_components/angular/angular.min.js"></script>
      <script src="build/react.js"></script>
      <script src="build/react-dom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
      <script src="app.js"></script>   
      <script src="directives.js"></script>
      <script src="controller.js"></script>   
      <script src="service.js"></script>

    </head>
   <body>
      <div ng-controller="testController as testScope">
        <div id="angular-ng-repeat-table">
          <button ng-click="testScope.createNestedArray('Angular')"> click to load data or refresh </button>
          <table>
            <tbody>
            <tr ng-repeat="element in testScope.dataForAngular">
              <td ng-repeat="subElement in element">{{subElement}}</td>
            </tr>
            <tbody>
          </table>
        </div>

        <div id="react_table">
          <react-element data="testScope.dataForReact"></react-element>
        </div>
      </div>
      
   </body>
</html>