<!DOCTYPE html>
  <html ng-app="benchmark">
    <head>
	    <title>Performance Test</title>
	    <script src="bower_components/angular/angular.min.js"></script>
      <script src="build/react.js"></script>
      <script src="build/react-dom.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
      <script src="app.js"></script>   
      <script src="directives.js"></script>
      <script src="controller.js"></script>   
      <script src="service.js"></script>

    </head>
   <body>
      <div id="angular-ng-repeat" ng-controller="testController as testScope">
        <button ng-click="testScope.createNestedArray()"> click to load data or refresh </button>
        <table>
          <tr ng-repeat="element in testScope.data">
            <td ng-repeat="subElement in element">{{subElement}}</td>
          </tr>
        </table>
      </div>
      <react-element></react-element>
   </body>
</html>